*, ::before, ::after {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

::backdrop {
  --tw-border-spacing-x: 0;
  --tw-border-spacing-y: 0;
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x:  ;
  --tw-pan-y:  ;
  --tw-pinch-zoom:  ;
  --tw-scroll-snap-strictness: proximity;
  --tw-gradient-from-position:  ;
  --tw-gradient-via-position:  ;
  --tw-gradient-to-position:  ;
  --tw-ordinal:  ;
  --tw-slashed-zero:  ;
  --tw-numeric-figure:  ;
  --tw-numeric-spacing:  ;
  --tw-numeric-fraction:  ;
  --tw-ring-inset:  ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur:  ;
  --tw-brightness:  ;
  --tw-contrast:  ;
  --tw-grayscale:  ;
  --tw-hue-rotate:  ;
  --tw-invert:  ;
  --tw-saturate:  ;
  --tw-sepia:  ;
  --tw-drop-shadow:  ;
  --tw-backdrop-blur:  ;
  --tw-backdrop-brightness:  ;
  --tw-backdrop-contrast:  ;
  --tw-backdrop-grayscale:  ;
  --tw-backdrop-hue-rotate:  ;
  --tw-backdrop-invert:  ;
  --tw-backdrop-opacity:  ;
  --tw-backdrop-saturate:  ;
  --tw-backdrop-sepia:  ;
  --tw-contain-size:  ;
  --tw-contain-layout:  ;
  --tw-contain-paint:  ;
  --tw-contain-style:  ;
}

/*
! tailwindcss v3.4.16 | MIT License | https://tailwindcss.com
*/

/*
1. Prevent padding and border from affecting element width. (https://github.com/mozdevs/cssremedy/issues/4)
2. Allow adding a border to an element by just adding a border-width. (https://github.com/tailwindcss/tailwindcss/pull/116)
*/

*,
::before,
::after {
  box-sizing: border-box;
  /* 1 */
  border-width: 0;
  /* 2 */
  border-style: solid;
  /* 2 */
  border-color: currentColor;
  /* 2 */
}

::before,
::after {
  --tw-content: '';
}

/*
1. Use a consistent sensible line-height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
3. Use a more readable tab size.
4. Use the user's configured `sans` font-family by default.
5. Use the user's configured `sans` font-feature-settings by default.
6. Use the user's configured `sans` font-variation-settings by default.
7. Disable tap highlights on iOS
*/

html,
:host {
  line-height: 1.5;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -moz-tab-size: 4;
  /* 3 */
  -o-tab-size: 4;
     tab-size: 4;
  /* 3 */
  font-family: ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  /* 4 */
  font-feature-settings: normal;
  /* 5 */
  font-variation-settings: normal;
  /* 6 */
  -webkit-tap-highlight-color: transparent;
  /* 7 */
}

/*
1. Remove the margin in all browsers.
2. Inherit line-height from `html` so users can set them as a class directly on the `html` element.
*/

body {
  margin: 0;
  /* 1 */
  line-height: inherit;
  /* 2 */
}

/*
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
3. Ensure horizontal rules are visible by default.
*/

hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
  border-top-width: 1px;
  /* 3 */
}

/*
Add the correct text decoration in Chrome, Edge, and Safari.
*/

abbr:where([title]) {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
}

/*
Remove the default font size and weight for headings.
*/

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*
Reset links to optimize for opt-in styling instead of opt-out.
*/

a {
  color: inherit;
  text-decoration: inherit;
}

/*
Add the correct font weight in Edge and Safari.
*/

b,
strong {
  font-weight: bolder;
}

/*
1. Use the user's configured `mono` font-family by default.
2. Use the user's configured `mono` font-feature-settings by default.
3. Use the user's configured `mono` font-variation-settings by default.
4. Correct the odd `em` font sizing in all browsers.
*/

code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
  /* 1 */
  font-feature-settings: normal;
  /* 2 */
  font-variation-settings: normal;
  /* 3 */
  font-size: 1em;
  /* 4 */
}

/*
Add the correct font size in all browsers.
*/

small {
  font-size: 80%;
}

/*
Prevent `sub` and `sup` elements from affecting the line height in all browsers.
*/

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
3. Remove gaps between table borders by default.
*/

table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
  border-collapse: collapse;
  /* 3 */
}

/*
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
3. Remove default padding in all browsers.
*/

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-feature-settings: inherit;
  /* 1 */
  font-variation-settings: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  font-weight: inherit;
  /* 1 */
  line-height: inherit;
  /* 1 */
  letter-spacing: inherit;
  /* 1 */
  color: inherit;
  /* 1 */
  margin: 0;
  /* 2 */
  padding: 0;
  /* 3 */
}

/*
Remove the inheritance of text transform in Edge and Firefox.
*/

button,
select {
  text-transform: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Remove default button styles.
*/

button,
input:where([type='button']),
input:where([type='reset']),
input:where([type='submit']) {
  -webkit-appearance: button;
  /* 1 */
  background-color: transparent;
  /* 2 */
  background-image: none;
  /* 2 */
}

/*
Use the modern Firefox focus style for all focusable elements.
*/

:-moz-focusring {
  outline: auto;
}

/*
Remove the additional `:invalid` styles in Firefox. (https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737)
*/

:-moz-ui-invalid {
  box-shadow: none;
}

/*
Add the correct vertical alignment in Chrome and Firefox.
*/

progress {
  vertical-align: baseline;
}

/*
Correct the cursor style of increment and decrement buttons in Safari.
*/

::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/*
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/

[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/*
Remove the inner padding in Chrome and Safari on macOS.
*/

::-webkit-search-decoration {
  -webkit-appearance: none;
}

/*
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to `inherit` in Safari.
*/

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Add the correct display in Chrome and Safari.
*/

summary {
  display: list-item;
}

/*
Removes the default spacing and border for appropriate elements.
*/

blockquote,
dl,
dd,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
figure,
p,
pre {
  margin: 0;
}

fieldset {
  margin: 0;
  padding: 0;
}

legend {
  padding: 0;
}

ol,
ul,
menu {
  list-style: none;
  margin: 0;
  padding: 0;
}

/*
Reset default styling for dialogs.
*/

dialog {
  padding: 0;
}

/*
Prevent resizing textareas horizontally by default.
*/

textarea {
  resize: vertical;
}

/*
1. Reset the default placeholder opacity in Firefox. (https://github.com/tailwindlabs/tailwindcss/issues/3300)
2. Set the default placeholder color to the user's configured gray 400 color.
*/

input::-moz-placeholder, textarea::-moz-placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

input::placeholder,
textarea::placeholder {
  opacity: 1;
  /* 1 */
  color: #9ca3af;
  /* 2 */
}

/*
Set the default cursor for buttons.
*/

button,
[role="button"] {
  cursor: pointer;
}

/*
Make sure disabled buttons don't get the pointer cursor.
*/

:disabled {
  cursor: default;
}

/*
1. Make replaced elements `display: block` by default. (https://github.com/mozdevs/cssremedy/issues/14)
2. Add `vertical-align: middle` to align replaced elements more sensibly by default. (https://github.com/jensimmons/cssremedy/issues/14#issuecomment-634934210)
   This can trigger a poorly considered lint error in some tools but is included by design.
*/

img,
svg,
video,
canvas,
audio,
iframe,
embed,
object {
  display: block;
  /* 1 */
  vertical-align: middle;
  /* 2 */
}

/*
Constrain images and videos to the parent width and preserve their intrinsic aspect ratio. (https://github.com/mozdevs/cssremedy/issues/14)
*/

img,
video {
  max-width: 100%;
  height: auto;
}

/* Make elements with the HTML hidden attribute stay hidden by default */

[hidden]:where(:not([hidden="until-found"])) {
  display: none;
}

.visible {
  visibility: visible;
}

.collapse {
  visibility: collapse;
}

.static {
  position: static;
}

.fixed {
  position: fixed;
}

.absolute {
  position: absolute;
}

.relative {
  position: relative;
}

.right-0 {
  right: 0px;
}

.bottom-0 {
  bottom: 0px;
}

.z-10 {
  z-index: 10;
}

.order-1 {
  order: 1;
}

.order-2 {
  order: 2;
}

.order-3 {
  order: 3;
}

.order-4 {
  order: 4;
}

.order-5 {
  order: 5;
}

.col-span-1 {
  grid-column: span 1 / span 1;
}

.col-span-12 {
  grid-column: span 12 / span 12;
}

.col-span-4 {
  grid-column: span 4 / span 4;
}

.-my-1 {
  margin-top: -0.25rem;
  margin-bottom: -0.25rem;
}

.-my-4 {
  margin-top: -1rem;
  margin-bottom: -1rem;
}

.-mr-\[15px\] {
  margin-right: -15px;
}

.-mt-1 {
  margin-top: -0.25rem;
}

.-mt-\[0\.5\%\] {
  margin-top: -0.5%;
}

.-mt-\[15px\] {
  margin-top: -15px;
}

.-mt-\[2px\] {
  margin-top: -2px;
}

.mb-4 {
  margin-bottom: 1rem;
}

.mb-5 {
  margin-bottom: 1.25rem;
}

.ml-2 {
  margin-left: 0.5rem;
}

.mr-\[2px\] {
  margin-right: 2px;
}

.mt-2 {
  margin-top: 0.5rem;
}

.mt-4 {
  margin-top: 1rem;
}

.block {
  display: block;
}

.inline-block {
  display: inline-block;
}

.inline {
  display: inline;
}

.flex {
  display: flex;
}

.table {
  display: table;
}

.grid {
  display: grid;
}

.contents {
  display: contents;
}

.hidden {
  display: none;
}

.aspect-\[1\/1\] {
  aspect-ratio: 1/1;
}

.size-fit {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
}

.h-14 {
  height: 3.5rem;
}

.h-\[34px\] {
  height: 34px;
}

.h-\[calc\(100\%\+32px\)\] {
  height: calc(100% + 32px);
}

.h-full {
  height: 100%;
}

.w-\[34px\] {
  width: 34px;
}

.w-auto {
  width: auto;
}

.w-1\/2 {
  width: 50%;
}

.border-collapse {
  border-collapse: collapse;
}

.-translate-y-\[2px\] {
  --tw-translate-y: -2px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.transform {
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.cursor-pointer {
  cursor: pointer;
}

.resize {
  resize: both;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.flex-wrap {
  flex-wrap: wrap;
}

.content-end {
  align-content: flex-end;
}

.items-start {
  align-items: flex-start;
}

.items-end {
  align-items: flex-end;
}

.justify-between {
  justify-content: space-between;
}

.gap-4 {
  gap: 1rem;
}

.overflow-hidden {
  overflow: hidden;
}

.text-balance {
  text-wrap: balance;
}

.text-pretty {
  text-wrap: pretty;
}

.border {
  border-width: 1px;
}

.border-b {
  border-bottom-width: 1px;
}

.border-t {
  border-top-width: 1px;
}

.bg-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(66 102 197 / var(--tw-bg-opacity, 1));
}

.px-\[6px\] {
  padding-left: 6px;
  padding-right: 6px;
}

.pb-1 {
  padding-bottom: 0.25rem;
}

.pb-2 {
  padding-bottom: 0.5rem;
}

.pb-3 {
  padding-bottom: 0.75rem;
}

.pb-\[1px\] {
  padding-bottom: 1px;
}

.pt-1 {
  padding-top: 0.25rem;
}

.pt-3 {
  padding-top: 0.75rem;
}

.pt-\[2px\] {
  padding-top: 2px;
}

.pt-\[4px\] {
  padding-top: 4px;
}

.text-left {
  text-align: left;
}

.text-center {
  text-align: center;
}

.text-right {
  text-align: right;
}

.align-bottom {
  vertical-align: bottom;
}

.text-xs {
  font-size: 0.75rem;
  line-height: 125%;
}

.text-sm {
  font-size: 0.9rem;
  line-height: 125%;
}

.\!font-bold {
  font-weight: 700 !important;
}

.font-bold {
  font-weight: 700;
}

.\!leading-\[150\%\] {
  line-height: 150% !important;
}

.leading-\[120\%\] {
  line-height: 120%;
}

.tracking-\[-0\.01em\] {
  letter-spacing: -0.01em;
}

.antialiased {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.mix-blend-screen {
  mix-blend-mode: screen;
}

.outline {
  outline-style: solid;
}

.grayscale {
  --tw-grayscale: grayscale(100%);
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.filter {
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

.transition {
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, -webkit-backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter;
  transition-property: color, background-color, border-color, text-decoration-color, fill, stroke, opacity, box-shadow, transform, filter, backdrop-filter, -webkit-backdrop-filter;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-\[max-height\] {
  transition-property: max-height;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.transition-all {
  transition-property: all;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-duration: 150ms;
}

.duration-300 {
  transition-duration: 300ms;
}

.ease-in-out {
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

/* General */

html, body {
  margin: 0px !important;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
  font-feature-settings: "liga", "kern";
}

::-moz-selection {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(66 102 197 / var(--tw-text-opacity, 1));
}

::selection {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(66 102 197 / var(--tw-text-opacity, 1));
}

.theme-light ::-moz-selection {
  --tw-bg-opacity: 1;
  background-color: rgb(66 102 197 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.theme-light ::selection {
  --tw-bg-opacity: 1;
  background-color: rgb(66 102 197 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

.video-container {
  position: relative;
  height: 0px;
  width: 100%;
  padding-bottom: 56.5%;
}

img {
  width: 100%;
}

.small-text a, .paragraph a {
  text-decoration-line: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 0.05rem;
}

/* Grid + Sizers */

.wrapper {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 1rem;
  padding-right: 1rem;
}

@media (min-width: 768px) {
  .wrapper {
    padding-left: 1.25rem;
    padding-right: 1.25rem;
  }
}

.vertical-wrapper {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

@media (min-width: 768px) {
  .vertical-wrapper {
    padding-top: 1.25rem;
    padding-bottom: 1.25rem;
  }

  #menu-drawer.wrapper {
    padding-right: 1.75rem;
  }
}

@media (min-width: 1280px) {
  #menu-drawer.wrapper {
    padding-right: 2rem;
  }
}

@media (min-width: 1536px) {
  #menu-drawer.wrapper {
    padding-right: 2.5rem;
  }
}

.page-grid {
  display: grid;
  grid-auto-rows: min-content;
  grid-template-columns: repeat(12, minmax(0, 1fr));
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

@media (min-width: 640px) {
  .page-grid {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
}

@media (min-width: 768px) {
  .page-grid {
    -moz-column-gap: 1.75rem;
         column-gap: 1.75rem;
  }
}

@media (min-width: 1280px) {
  .page-grid {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}

.grid-gap {
  -moz-column-gap: 1.25rem;
       column-gap: 1.25rem;
}

@media (min-width: 640px) {
  .grid-gap {
    -moz-column-gap: 1.5rem;
         column-gap: 1.5rem;
  }
}

@media (min-width: 768px) {
  .grid-gap {
    -moz-column-gap: 1.75rem;
         column-gap: 1.75rem;
  }
}

@media (min-width: 1280px) {
  .grid-gap {
    -moz-column-gap: 2rem;
         column-gap: 2rem;
  }
}

.grid-gap-vertical {
  row-gap: 1.25rem;
}

@media (min-width: 640px) {
  .grid-gap-vertical {
    row-gap: 1.5rem;
  }
}

@media (min-width: 768px) {
  .grid-gap-vertical {
    row-gap: 1.75rem;
  }
}

@media (min-width: 1280px) {
  .grid-gap-vertical {
    row-gap: 2rem;
  }
}

/* Gaps */

.top-page-gap {
  padding-top: 3rem;
}

@media (min-width: 768px) {
  .top-page-gap {
    padding-top: 100px;
  }
}

@media (min-width: 1024px) {
  .top-page-gap {
    padding-top: 130px;
  }
}

@media (min-width: 1536px) {
  .top-page-gap {
    padding-top: 150px;
  }
}

@media (min-width: 1800px) {
  .top-page-gap {
    padding-top: 160px;
  }
}

.xxl-gap-b {
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .xxl-gap-b {
    margin-bottom: 6rem;
  }
}

@media (min-width: 1024px) {
  .xxl-gap-b {
    margin-bottom: 8rem;
  }
}

@media (min-width: 1800px) {
  .xxl-gap-b {
    margin-bottom: 12rem;
  }
}

.xxl-gap-t {
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .xxl-gap-t {
    margin-top: 6rem;
  }
}

@media (min-width: 1024px) {
  .xxl-gap-t {
    margin-top: 8rem;
  }
}

@media (min-width: 1280px) {
  .xxl-gap-t {
    margin-top: 9rem;
  }
}

@media (min-width: 1536px) {
  .xxl-gap-t {
    margin-top: 10rem;
  }
}

@media (min-width: 1800px) {
  .xxl-gap-t {
    margin-top: 12rem;
  }
}

.xxlp-gap-t {
  padding-top: 4rem;
}

@media (min-width: 768px) {
  .xxlp-gap-t {
    padding-top: 6rem;
  }
}

@media (min-width: 1024px) {
  .xxlp-gap-t {
    padding-top: 8rem;
  }
}

@media (min-width: 1280px) {
  .xxlp-gap-t {
    padding-top: 9rem;
  }
}

@media (min-width: 1536px) {
  .xxlp-gap-t {
    padding-top: 10rem;
  }
}

@media (min-width: 1800px) {
  .xxlp-gap-t {
    padding-top: 12rem;
  }
}

.xl-gap-b {
  margin-bottom: 4rem;
}

@media (min-width: 768px) {
  .xl-gap-b {
    margin-bottom: 5rem;
  }
}

@media (min-width: 1024px) {
  .xl-gap-b {
    margin-bottom: 6rem;
  }
}

.xl-gap-t {
  margin-top: 4rem;
}

@media (min-width: 768px) {
  .xl-gap-t {
    margin-top: 5rem;
  }
}

@media (min-width: 1024px) {
  .xl-gap-t {
    margin-top: 6rem;
  }
}

.large-gap-b {
  margin-bottom: 3rem;
}

@media (min-width: 768px) {
  .large-gap-b {
    margin-bottom: 3.5rem;
  }
}

@media (min-width: 1024px) {
  .large-gap-b {
    margin-bottom: 4rem;
  }
}

.large-gap-t {
  margin-top: 3rem;
}

@media (min-width: 768px) {
  .large-gap-t {
    margin-top: 3.5rem;
  }
}

@media (min-width: 1024px) {
  .large-gap-t {
    margin-top: 4rem;
  }
}

.medium-gap-b {
  margin-bottom: 2rem;
}

@media (min-width: 768px) {
  .medium-gap-b {
    margin-bottom: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .medium-gap-b {
    margin-bottom: 3rem;
  }
}

.medium-gap-t {
  margin-top: 2rem;
}

@media (min-width: 768px) {
  .medium-gap-t {
    margin-top: 2.5rem;
  }
}

@media (min-width: 1024px) {
  .medium-gap-t {
    margin-top: 3rem;
  }
}

.small-gap-b {
  margin-bottom: 1.25rem;
}

@media (min-width: 768px) {
  .small-gap-b {
    margin-bottom: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .small-gap-b {
    margin-bottom: 2rem;
  }
}

.small-gap-t {
  margin-top: 1.25rem;
}

@media (min-width: 768px) {
  .small-gap-t {
    margin-top: 1.75rem;
  }
}

@media (min-width: 1024px) {
  .small-gap-t {
    margin-top: 2rem;
  }
}

.xs-gap-b {
  margin-bottom: 0.5rem;
}

@media (min-width: 768px) {
  .xs-gap-b {
    margin-bottom: 0.75rem;
  }
}

@media (min-width: 1024px) {
  .xs-gap-b {
    margin-bottom: 1rem;
  }
}

.xs-gap-t {
  margin-top: 0.5rem;
}

@media (min-width: 768px) {
  .xs-gap-t {
    margin-top: 0.75rem;
  }
}

@media (min-width: 1024px) {
  .xs-gap-t {
    margin-top: 1rem;
  }
}

.text-gap {
  margin-bottom: 26px;
}

@media (min-width: 768px) {
  .text-gap {
    margin-bottom: 28.6px;
  }
}

@media (min-width: 1280px) {
  .text-gap {
    margin-bottom: 32.5px;
  }
}

@media (min-width: 1536px) {
  .text-gap {
    margin-bottom: 35.1px;
  }
}

.text-gap-t {
  margin-top: 26px;
}

@media (min-width: 768px) {
  .text-gap-t {
    margin-top: 28.6px;
  }
}

@media (min-width: 1280px) {
  .text-gap-t {
    margin-top: 32.5px;
  }
}

@media (min-width: 1536px) {
  .text-gap-t {
    margin-top: 35.1px;
  }
}

/* Typography */

.heading-1 {
  font-family: Times New Roman, serif;
  font-size: 46px;
  text-transform: uppercase;
  line-height: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 640px) {
  .heading-1 {
    font-size: 60px;
    line-height: 95%;
  }
}

@media (min-width: 768px) {
  .heading-1 {
    font-size: 90px;
  }
}

@media (min-width: 1024px) {
  .heading-1 {
    font-size: 110px;
  }
}

@media (min-width: 1280px) {
  .heading-1 {
    font-size: 130px;
    line-height: 90%;
  }
}

@media (min-width: 1536px) {
  .heading-1 {
    font-size: 160px;
  }
}

@media (min-width: 1800px) {
  .heading-1 {
    font-size: 180px;
  }
}

.heading-1 {
  letter-spacing: -0.03em;
}

.heading-2 {
  font-family: Arial, sans-serif;
  font-size: 30px;
  line-height: 107%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 640px) {
  .heading-2 {
    font-size: 44px;
  }
}

@media (min-width: 768px) {
  .heading-2 {
    font-size: 56px;
    line-height: 100%;
  }
}

@media (min-width: 1024px) {
  .heading-2 {
    font-size: 64px;
  }
}

@media (min-width: 1536px) {
  .heading-2 {
    font-size: 72px;
  }
}

.heading-2 {
  letter-spacing: -0.025em;
}

.text-large .heading-2 {
  font-size: 36px;
}

@media (min-width: 640px) {
  .text-large .heading-2 {
    font-size: 52.8px;
  }
}

@media (min-width: 768px) {
  .text-large .heading-2 {
    font-size: 67.2px;
  }
}

@media (min-width: 1024px) {
  .text-large .heading-2 {
    font-size: 76.8px;
  }
}

@media (min-width: 1536px) {
  .text-large .heading-2 {
    font-size: 86.4px;
  }
}

.text-small .heading-2 {
  font-size: 24px;
}

@media (min-width: 640px) {
  .text-small .heading-2 {
    font-size: 35.2px;
  }
}

@media (min-width: 768px) {
  .text-small .heading-2 {
    font-size: 44.8px;
  }
}

@media (min-width: 1024px) {
  .text-small .heading-2 {
    font-size: 51.2px;
  }
}

@media (min-width: 1536px) {
  .text-small .heading-2 {
    font-size: 57.6px;
  }
}

.paragraph, .principle-number {
  font-family: Arial, sans-serif;
  font-size: 21px;
  font-weight: 400;
  letter-spacing: -0.01em;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 640px) {
  .paragraph, .principle-number {
    font-size: 25px;
  }
}

@media (min-width: 768px) {
  .paragraph, .principle-number {
    font-size: 28px;
  }
}

@media (min-width: 1024px) {
  .paragraph, .principle-number {
    font-size: 30px;
  }
}

@media (min-width: 1280px) {
  .paragraph, .principle-number {
    font-size: 32px;
    letter-spacing: -0.02em;
  }
}

@media (min-width: 1536px) {
  .paragraph, .principle-number {
    font-size: 36px;
  }
}

@media (min-width: 1800px) {
  .paragraph, .principle-number {
    font-size: 40px;
  }
}

.paragraph, .principle-number {
  line-height: 130%;
}

.paragraph p + p, .text-gap-t {
  margin-top: 27.3px;
}

@media (min-width: 640px) {
  .paragraph p + p, .text-gap-t {
    margin-top: 32.5px;
  }
}

@media (min-width: 768px) {
  .paragraph p + p, .text-gap-t {
    margin-top: 36.4px;
  }
}

@media (min-width: 1024px) {
  .paragraph p + p, .text-gap-t {
    margin-top: 39px;
  }
}

@media (min-width: 1280px) {
  .paragraph p + p, .text-gap-t {
    margin-top: 41.6px;
  }
}

@media (min-width: 1536px) {
  .paragraph p + p, .text-gap-t {
    margin-top: 46.8px;
  }
}

@media (min-width: 1800px) {
  .paragraph p + p, .text-gap-t {
    margin-top: 52px;
  }
}

.text-large .paragraph {
  font-size: 25.2px;
}

@media (min-width: 640px) {
  .text-large .paragraph {
    font-size: 30px;
  }
}

@media (min-width: 768px) {
  .text-large .paragraph {
    font-size: 33.6px;
  }
}

@media (min-width: 1024px) {
  .text-large .paragraph {
    font-size: 36px;
  }
}

@media (min-width: 1280px) {
  .text-large .paragraph {
    font-size: 38.4px;
  }
}

@media (min-width: 1536px) {
  .text-large .paragraph {
    font-size: 43.2px;
  }
}

@media (min-width: 1800px) {
  .text-large .paragraph {
    font-size: 48px;
  }
}

.text-large .paragraph {
  line-height: 120%;
}

.text-large .paragraph p + p, .text-large .text-gap-t {
  margin-top: 32.76px;
}

@media (min-width: 640px) {
  .text-large .paragraph p + p, .text-large .text-gap-t {
    margin-top: 39px;
  }
}

@media (min-width: 768px) {
  .text-large .paragraph p + p, .text-large .text-gap-t {
    margin-top: 43.68px;
  }
}

@media (min-width: 1024px) {
  .text-large .paragraph p + p, .text-large .text-gap-t {
    margin-top: 46.8px;
  }
}

@media (min-width: 1280px) {
  .text-large .paragraph p + p, .text-large .text-gap-t {
    margin-top: 49.92px;
  }
}

@media (min-width: 1536px) {
  .text-large .paragraph p + p, .text-large .text-gap-t {
    margin-top: 56.16px;
  }
}

@media (min-width: 1800px) {
  .text-large .paragraph p + p, .text-large .text-gap-t {
    margin-top: 62.4px;
  }
}

.text-small .paragraph {
  font-size: 16.8px;
}

@media (min-width: 640px) {
  .text-small .paragraph {
    font-size: 20px;
  }
}

@media (min-width: 768px) {
  .text-small .paragraph {
    font-size: 22.4px;
  }
}

@media (min-width: 1024px) {
  .text-small .paragraph {
    font-size: 24px;
  }
}

@media (min-width: 1280px) {
  .text-small .paragraph {
    font-size: 25.6px;
  }
}

@media (min-width: 1536px) {
  .text-small .paragraph {
    font-size: 28.8px;
  }
}

@media (min-width: 1800px) {
  .text-small .paragraph {
    font-size: 32px;
  }
}

.text-small .paragraph p + p, .text-small .text-gap-t {
  margin-top: 21.84px;
}

@media (min-width: 640px) {
  .text-small .paragraph p + p, .text-small .text-gap-t {
    margin-top: 26px;
  }
}

@media (min-width: 768px) {
  .text-small .paragraph p + p, .text-small .text-gap-t {
    margin-top: 29.12px;
  }
}

@media (min-width: 1024px) {
  .text-small .paragraph p + p, .text-small .text-gap-t {
    margin-top: 31.2px;
  }
}

@media (min-width: 1280px) {
  .text-small .paragraph p + p, .text-small .text-gap-t {
    margin-top: 33.28px;
  }
}

@media (min-width: 1536px) {
  .text-small .paragraph p + p, .text-small .text-gap-t {
    margin-top: 37.44px;
  }
}

@media (min-width: 1800px) {
  .text-small .paragraph p + p, .text-small .text-gap-t {
    margin-top: 41.6px;
  }
}

.small-text {
  font-family: Arial, sans-serif;
  font-size: 13px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@media (min-width: 640px) {
  .small-text {
    font-size: 14px;
  }
}

@media (min-width: 768px) {
  .small-text {
    font-size: 15px;
  }
}

@media (min-width: 1024px) {
  .small-text {
    font-size: 16px;
  }
}

@media (min-width: 1280px) {
  .small-text {
    font-size: 17px;
  }
}

@media (min-width: 1536px) {
  .small-text {
    font-size: 18px;
  }
}

@media (min-width: 1800px) {
  .small-text {
    font-size: 19px;
  }
}

.small-text {
  letter-spacing: -0.01em;
  line-height: 120%;
}

.expandable-section .small-text {
  line-height: 130%;
}

.text-large #contributors .expandable-section .small-text {
  font-size: 15.6px;
}

@media (min-width: 640px) {
  .text-large #contributors .expandable-section .small-text {
    font-size: 16.8px;
  }
}

@media (min-width: 768px) {
  .text-large #contributors .expandable-section .small-text {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .text-large #contributors .expandable-section .small-text {
    font-size: 19.2px;
  }
}

@media (min-width: 1280px) {
  .text-large #contributors .expandable-section .small-text {
    font-size: 20.4px;
  }
}

@media (min-width: 1536px) {
  .text-large #contributors .expandable-section .small-text {
    font-size: 21.6px;
  }
}

@media (min-width: 1800px) {
  .text-large #contributors .expandable-section .small-text {
    font-size: 22.8px;
  }
}

.text-large #contributors .expandable-section .small-text {
  line-height: 130%;
}

i, em {
  font-style: italic;
}

b, strong {
  font-weight: 700;
  -webkit-font-smoothing: initial;
}

.text-block a {
  text-decoration-line: underline;
  text-underline-offset: 2px;
  text-decoration-thickness: 0.05rem;
}

.text-block ol li {
  list-style-type: decimal;
}

.underline {
  text-underline-offset: 2px;
  text-decoration-thickness: 0.05rem;
}

/*Home*/

header {
  height: 70vh;
  height: 70dvh;
}

@media (max-width:768px) {
  header {
    height: 50vh;
    height: 50dvh;
  }
}

.logo svg {
  display: inline-block;
  height: 100%;
  width: auto;
  max-width: 160px;
}

@media (min-width: 768px) {
  .logo svg {
    max-width: 180px;
  }

  .principle:nth-of-type(10n + 2), .principle:nth-of-type(10n + 5), .principle:nth-of-type(10n + 9) {
    grid-column-start: 3;
  }

  .principle:nth-of-type(10n + 3), .principle:nth-of-type(10n + 6) {
    grid-column-start: 2;
  }

  .principle:nth-of-type(10n + 7) {
    grid-column-start: 4;
  }
}

/*Dark-Light*/

body.theme-dark {
  --tw-bg-opacity: 1;
  background-color: rgb(66 102 197 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

body.theme-light {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(66 102 197 / var(--tw-text-opacity, 1));
}

body.theme-dark .principle, body.theme-dark .contributor {
  --tw-bg-opacity: 1;
  background-color: rgb(66 102 197 / var(--tw-bg-opacity, 1));
  --tw-drop-shadow: drop-shadow(6px 6px 6px rgba(36,74,177,100));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@media (min-width: 768px) {
  body.theme-dark .principle, body.theme-dark .contributor {
    --tw-drop-shadow: drop-shadow(8px 8px 8px rgba(36,74,177,100));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }
}

@media (min-width: 1280px) {
  body.theme-dark .principle, body.theme-dark .contributor {
    --tw-drop-shadow: drop-shadow(10px 10px 10px rgba(36,74,177,100));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }
}

body.theme-light .principle, body.theme-light .contributor {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  --tw-drop-shadow: drop-shadow(6px 6px 6px rgba(66,102,197,100));
  filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
}

@media (min-width: 768px) {
  body.theme-light .principle, body.theme-light .contributor {
    --tw-drop-shadow: drop-shadow(8px 8px 8px rgba(66,102,197,100));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }
}

@media (min-width: 1280px) {
  body.theme-light .principle, body.theme-light .contributor {
    --tw-drop-shadow: drop-shadow(10px 10px 10px rgba(66,102,197,100));
    filter: var(--tw-blur) var(--tw-brightness) var(--tw-contrast) var(--tw-grayscale) var(--tw-hue-rotate) var(--tw-invert) var(--tw-saturate) var(--tw-sepia) var(--tw-drop-shadow);
  }
}

body.theme-dark .principle-number {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(66 102 197 / var(--tw-text-opacity, 1));
}

body.theme-light .principle-number {
  --tw-bg-opacity: 1;
  background-color: rgb(66 102 197 / var(--tw-bg-opacity, 1));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity, 1));
}

body.theme-dark .show-hide {
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  --tw-bg-opacity: 0.1;
}

body.theme-light .show-hide {
  background-color: rgb(66 102 197 / var(--tw-bg-opacity, 1));
  --tw-bg-opacity: 0.1;
}

body.theme-dark svg {
  fill: #ffffff;
}

body.theme-light svg {
  fill: #4266C5;
}

/*Radio button styling*/

#appearance label {
  display: flex;
  gap: 6px;
}

input[type="radio"] {
  position: relative;
  margin: 0px;
  height: 1rem;
  width: 1rem;
  --tw-translate-y: 2px;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

@media (min-width: 768px) {
  input[type="radio"] {
    height: 18px;
    width: 18px;
  }
}

@media (min-width: 1280px) {
  input[type="radio"] {
    margin-top: 2px;
  }
}

input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
       appearance: none;
  background-color: var(--form-background);
  color: currentColor;
  border: 1px solid currentColor;
  border-radius: 50%;
  display: grid;
  place-content: center;
}

input[type="radio"]::before {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100%;
  width: 100%;
  border-radius: 9999px;
  content: "";
  transform: scale(0);
  box-shadow: inset 1em 1em currentColor;
}

input[type="radio"]::after {
  position: absolute;
  top: 25%;
  left: 25%;
  height: 50%;
  width: 50%;
  border-radius: 9999px;
  content: "";
  transform: scale(0);
}

.theme-dark input[type="radio"]::after {
  box-shadow: inset 1em 1em #4266C5;
}

.theme-light input[type="radio"]::after,  #controls-container.scroll-with-page input[type="radio"]::after {
  box-shadow: inset 1em 1em #FFFFFF;
}

input[type="radio"]:checked::before {
  transform: scale(1);
}

input[type="radio"]:checked::after {
  transform: scale(1);
}

/*Redesign because of styling buttons*/

@media (min-width: 1280px) {
  .text-large #sub-heading,
.text-small #sub-heading {
    width: 50%;
  }
}

@media (min-width: 1800px) {
  .text-large #sub-heading,
.text-small #sub-heading {
    width: 45%;
  }
}

.text-large .principle-number {
  margin-left: 0.75rem;
  transform-origin: top right;
  --tw-scale-x: 120%;
  --tw-scale-y: 120%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

.text-small .principle-number {
  transform-origin: top right;
  --tw-scale-x: 80%;
  --tw-scale-y: 80%;
  transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));
}

/*Before scroll */

#controls-container .show-hide svg, #controls-container .scroll-title {
  display: none;
}

/*Contents on scroll*/

#controls-container.scroll-with-page {
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: 10;
}

#controls-container.scroll-with-page .collapsed-controls .control-wrapper {
  margin-top: -1px;
  width: 200px;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(66 102 197 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
  padding: 0.75rem;
  --tw-text-opacity: 1;
  color: rgb(66 102 197 / var(--tw-text-opacity, 1));
}

#controls-container.scroll-with-page .collapsed-controls #text-size {
  margin-top: 0px;
}

#controls-container.scroll-with-page .collapsed-controls #display {
  padding-bottom: 0px;
}

#controls-container.scroll-with-page .collapsed-controls .spacing-element {
  margin: 0px;
  padding: 0px;
}

#controls-container.scroll-with-page .collapsed-controls {
  transition-duration: 0s;
}

#controls-container.scroll-with-page #appearance, #controls-container.scroll-with-page #contents {
  border-bottom-width: 0px;
  padding-bottom: 0px;
}

#controls-container.scroll-with-page h4, #controls-container.scroll-with-page .show-hide .text {
  display: none;
}

#controls-container.scroll-with-page .show-hide svg {
  display: block;
  height: 100%;
  width: 100%;
}

#controls-container.scroll-with-page .show-hide svg path, #controls-container.scroll-with-page .show-hide svg circle {
  fill: #4266C5;
}

#controls-container.scroll-with-page .show-hide {
  margin-left: auto;
  aspect-ratio: 1/1;
  width: 2.5rem;
  border-width: 1px;
  --tw-border-opacity: 1;
  border-color: rgb(66 102 197 / var(--tw-border-opacity, 1));
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity, 1));
}

@media (min-width: 1536px) {
  #controls-container.scroll-with-page .show-hide {
    width: 3rem;
  }
}

#controls-container.scroll-with-page .scroll-title {
  display: block;
}

#controls-container.scroll-with-page #appearance {
  margin-top: 1rem;
}

@media (min-width: 640px) {
  .sm\:col-span-11 {
    grid-column: span 11 / span 11;
  }
}

@media (min-width: 768px) {
  .md\:order-1 {
    order: 1;
  }

  .md\:order-2 {
    order: 2;
  }

  .md\:col-span-2 {
    grid-column: span 2 / span 2;
  }

  .md\:col-span-4 {
    grid-column: span 4 / span 4;
  }

  .md\:col-span-6 {
    grid-column: span 6 / span 6;
  }

  .md\:col-span-8 {
    grid-column: span 8 / span 8;
  }

  .md\:col-span-9 {
    grid-column: span 9 / span 9;
  }

  .md\:col-start-7 {
    grid-column-start: 7;
  }

  .md\:-my-2 {
    margin-top: -0.5rem;
    margin-bottom: -0.5rem;
  }

  .md\:-my-5 {
    margin-top: -1.25rem;
    margin-bottom: -1.25rem;
  }

  .md\:-mr-\[18px\] {
    margin-right: -18px;
  }

  .md\:-mt-3 {
    margin-top: -0.75rem;
  }

  .md\:-mt-\[18px\] {
    margin-top: -18px;
  }

  .md\:-mt-\[3px\] {
    margin-top: -3px;
  }

  .md\:mb-0 {
    margin-bottom: 0px;
  }

  .md\:mb-7 {
    margin-bottom: 1.75rem;
  }

  .md\:mt-3 {
    margin-top: 0.75rem;
  }

  .md\:mt-5 {
    margin-top: 1.25rem;
  }

  .md\:-mt-1 {
    margin-top: -0.25rem;
  }

  .md\:-mt-\[6px\] {
    margin-top: -6px;
  }

  .md\:-mt-2 {
    margin-top: -0.5rem;
  }

  .md\:mt-4 {
    margin-top: 1rem;
  }

  .md\:-mt-\[10px\] {
    margin-top: -10px;
  }

  .md\:mt-\[10px\] {
    margin-top: 10px;
  }

  .md\:block {
    display: block;
  }

  .md\:hidden {
    display: none;
  }

  .md\:h-16 {
    height: 4rem;
  }

  .md\:h-\[45px\] {
    height: 45px;
  }

  .md\:h-\[calc\(100\%\+40px\)\] {
    height: calc(100% + 40px);
  }

  .md\:w-3\/4 {
    width: 75%;
  }

  .md\:w-\[45px\] {
    width: 45px;
  }

  .md\:gap-5 {
    gap: 1.25rem;
  }

  .md\:px-2 {
    padding-left: 0.5rem;
    padding-right: 0.5rem;
  }

  .md\:pb-2 {
    padding-bottom: 0.5rem;
  }

  .md\:pb-4 {
    padding-bottom: 1rem;
  }

  .md\:pb-\[2px\] {
    padding-bottom: 2px;
  }

  .md\:pt-4 {
    padding-top: 1rem;
  }

  .md\:pt-\[3px\] {
    padding-top: 3px;
  }

  .md\:text-sm {
    font-size: 0.9rem;
    line-height: 125%;
  }
}

@media (min-width: 1024px) {
  .lg\:col-span-3 {
    grid-column: span 3 / span 3;
  }

  .lg\:col-span-9 {
    grid-column: span 9 / span 9;
  }

  .lg\:w-1\/2 {
    width: 50%;
  }
}

@media (min-width: 1280px) {
  .xl\:col-span-5 {
    grid-column: span 5 / span 5;
  }

  .xl\:col-start-7 {
    grid-column-start: 7;
  }

  .xl\:mb-10 {
    margin-bottom: 2.5rem;
  }

  .xl\:h-\[56px\] {
    height: 56px;
  }

  .xl\:w-\[40\%\] {
    width: 40%;
  }

  .xl\:w-\[56px\] {
    width: 56px;
  }

  .xl\:pt-2 {
    padding-top: 0.5rem;
  }
}

@media (min-width: 1536px) {
  .\32xl\:col-span-4 {
    grid-column: span 4 / span 4;
  }

  .\32xl\:col-start-7 {
    grid-column-start: 7;
  }

  .\32xl\:h-\[64px\] {
    height: 64px;
  }

  .\32xl\:w-\[64px\] {
    width: 64px;
  }

  .\32xl\:pt-\[7px\] {
    padding-top: 7px;
  }
}

@media (min-width: 1800px) {
  .\33xl\:w-\[35\%\] {
    width: 35%;
  }

  .\33xl\:pt-\[6px\] {
    padding-top: 6px;
  }
}